<template>
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-third">
      <label class="label">{{ $t('PUBLIKO.REGISTRATION.FORM.DATE.DAY') }}</label>
      <input
        v-model="birthDate.day"
        :placeholder="$t('PUBLIKO.REGISTRATION.FORM.DATE.DAY_PLACEHOLDER')"
        type="text"
        class="input has-border-radius is-borderless has-background-color is-shadowless"
        @input="onDateChanged">
    </div>
    <div class="column is-one-third">
      <label class="label">{{ $t('PUBLIKO.REGISTRATION.FORM.DATE.MONTH') }}</label>
      <input
        v-model="birthDate.month"
        :placeholder="$t('PUBLIKO.REGISTRATION.FORM.DATE.MONTH_PLACEHOLDER')"
        type="text"
        class="input has-border-radius is-borderless has-background-color is-shadowless"
        @input="onDateChanged">
    </div>
    <div class="column is-one-third">
      <label class="label">{{ $t('PUBLIKO.REGISTRATION.FORM.DATE.YEAR') }}</label>
      <input
        v-model="birthDate.year"
        :placeholder="$t('PUBLIKO.REGISTRATION.FORM.DATE.YEAR_PLACEHOLDER')"
        type="text"
        class="input has-border-radius is-borderless has-background-color is-shadowless"
        @input="onDateChanged">
    </div>
    <div class="column">
      <div class="content is-small">
        <p v-if="!isValid">{{ $t('PUBLIKO.REGISTRATION.FORM.DATE.INVALID') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DateInput',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    date: {
      default: null
    },
    // eslint-disable-next-line vue/require-prop-types
    UTCDate: {
      default: null
    }
  },
  data () {
    return {
      birthDate: {
        day: '',
        month: '',
        year: ''
      },
      isValid: null
    }
  },
  watch: {
    date (newValue, oldValue) {
      if (newValue) {
        const date = new Date(newValue)
        this.birthDate.day = (date.getDate()) + ''
        this.birthDate.month = (date.getMonth() + 1) + ''
        this.birthDate.year = date.getFullYear() + ''
      } else {
        this.birthDate.day = ''
        this.birthDate.month = ''
        this.birthDate.year = ''
      }
    },
    'birthDate.day' (newV, oldV) {
      this.onDateChanged()
    },
    UTCDate (newValue) {
      if (newValue) {
        const date = new Date(newValue)
        this.birthDate.day = (date.getDate()) + ''
        this.birthDate.month = (date.getMonth() + 1) + ''
        this.birthDate.year = date.getFullYear() + ''
      }
    }
  },
  created () {
    if (this.date) {
      const date = new Date(this.date)
      this.birthDate.day = (date.getDate()) + ''
      this.birthDate.month = (date.getMonth() + 1) + ''
      this.birthDate.year = date.getFullYear() + ''
    }
  },
  methods: {
    isDateValid () {
      const iDay = parseInt(this.birthDate.day)
      const iMonth = parseInt(this.birthDate.month)
      const iYear = parseInt(this.birthDate.year)
      const re = /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/
      const stringDate = iDay + '-' + iMonth + '-' + iYear
      const isDateValid = re.test(stringDate)
      return isDateValid && !(isNaN(iDay) || isNaN(iMonth) || isNaN(iYear)) && this.birthDate.year.length === 4
    },
    buildDate () {
      const iDay = parseInt(this.birthDate.day)
      const iMonth = parseInt(this.birthDate.month)
      const iYear = parseInt(this.birthDate.year)
      const builtDate = new Date(iYear, iMonth - 1, iDay)
      return builtDate
    },
    onDateChanged () {
      this.isValid = this.isDateValid()
      if (this.isValid) {
        const date = this.buildDate()
        this.$emit('change', {
          date: date,
          isValid: this.isValid
        })
      } else {
        this.$emit('change', {
          isValid: this.isValid
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.has-border-radius {
    border-radius: 5px;
  }

.is-borderless {
  border: 0;
}

.has-background-color {
  background-color: white;
  &:focus {
    border: 1px solid #ababab;
  }
}

::placeholder {
  color: #b3b3b3;
  opacity: 1;
}
</style>
