<template>
  <div class="card is-shadowless">
    <div class="card-content">
      <div class="columns is-multiline">
        <div class="column is-full">
          <app-registration-text-input
            :input-invalid="vuelidateValidation ? vuelidateValidation.name.$invalid : ''"
            v-model="memberCopy.name"
            :label="$t('PUBLIKO.REGISTRATION.FORM.FULLNAME')"
            :placeholder-text="$t('PUBLIKO.REGISTRATION.FORM.FULLNAME')"
            @blur="$v.memberCopy.name.$touch()"
            @input="onChange"/>
          <div class="content is-small">
            <p v-if="vuelidateValidation ? vuelidateValidation.name.$invalid : ''">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY') }}</p>
          </div>
        </div>
        <div class="column is-full">
          <app-registration-text-input
            :input-invalid="vuelidateValidation ? vuelidateValidation.code.$invalid : ''"
            v-model="memberCopy.code"
            :label="$t('PUBLIKO.REGISTRATION.FORM.FISCAL_CODE')"
            :placeholder-text="$t('PUBLIKO.REGISTRATION.FORM.FISCAL_CODE_PLACEHOLDER')"
            @blur="$v.memberCopy.code.$touch()"
            @input="onChange"/>
          <div class="content is-small">
            <p v-if="vuelidateValidation ? vuelidateValidation.code.$invalid : ''">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY') }}</p>
          </div>
        </div>
        <div class="column is-full">
          <app-registration-text-input
            :input-invalid="vuelidateValidation ? vuelidateValidation.identity.$invalid : ''"
            v-model="memberCopy.identity"
            :label="$t('PUBLIKO.REGISTRATION.FORM.IDENTITY_CARD')"
            :placeholder-text="$t('PUBLIKO.REGISTRATION.FORM.IDENTITY_CARD_PLACEHOLDER')"
            @blur="$v.memberCopy.identity.$touch()"
            @input="onChange"/>
          <div class="content is-small">
            <p v-if="vuelidateValidation ? vuelidateValidation.identity.$invalid : ''">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY') }}</p>
          </div>
        </div>
        <div class="column is-full">
          <app-registration-text-input
            :input-invalid="vuelidateValidation ? vuelidateValidation.phone.$invalid : ''"
            v-model="memberCopy.phone"
            :label="$t('PUBLIKO.REGISTRATION.FORM.PHONE')"
            :placeholder-text="$t('PUBLIKO.REGISTRATION.FORM.PHONE_PLACEHOLDER')"
            @blur="$v.memberCopy.phone.$touch()"
            @input="onChange"/>
          <div class="content is-small">
            <p v-if="!$v.memberCopy.phone.maxLength"> {{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.PHONE.LONG_NUMBER') }}</p>
            <p v-if="$v.memberCopy.phone.error">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.PHONE.INVALID_NUMBER') }}</p>
            <p v-if="!$v.memberCopy.phone.numeric">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.PHONE.NOT_NUMBER') }}</p>
            <p v-if="vuelidateValidation ? vuelidateValidation.phone.$invalid : ''">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY') }}</p>
          </div>
        </div>
        <div class="column is-full">
          <div class="columns is-multiline">
            <div class="column is-two-third">
              <gmap-autocomplete-place-input
                v-model="memberCopy.birth.place"
                :placeholder="$t('PUBLIKO.REGISTRATION.FORM.BIRTHPLACE_AND_DATE_PLACEHOLDER')"
                :label="$t('PUBLIKO.REGISTRATION.FORM.BIRTHPLACE_AND_DATE')"
                @blur="$v.memberCopy.birth.place.$touch()"
                @input="onBirthPlaceChange"
                @addressError="showBirthPlaceAddressError"/>
              <div class="content is-small">
                <p v-if="isBirthPlaceInvalid ? isBirthPlaceInvalid : ''">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY') }}</p>
              </div>
            </div>
            <div class="column is-one-third">
              <app-registration-date-input
                :date="memberCopy.birth.date"
                @change="onDateChanged"/>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <gmap-autocomplete-address-input
            v-model="memberCopy.address.place"
            :placeholder="$t('PUBLIKO.REGISTRATION.FORM.ADDRESS_PLACEHOLDER')"
            :label="$t('PUBLIKO.REGISTRATION.FORM.ADDRESS')"
            @input="onAddressPlaceChange"
            @addressError="showAddressError"/>
          <div class="content is-small">
            <p v-if="isAddressInvalid ? isAddressInvalid : ''">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppRegistrationTextInput from '@/components/registration/AppRegistrationTextInput'
import AppRegistrationDateInput from '@/components/registration/AppRegistrationDateInput'

import GmapAutocompleteAddressInput from '@/components/registration/GmapAutocompleteAddressInput'
import GmapAutocompletePlaceInput from '@/components/registration/GmapAutocompletePlaceInput'

import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  components: {
    AppRegistrationTextInput,
    AppRegistrationDateInput,
    GmapAutocompleteAddressInput,
    GmapAutocompletePlaceInput
  },
  props: {
    member: {
      type: Object,
      default () {
        return {}
      }
    },
    vuelidateValidation: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  created () {
    this.validateForm()
    this.memberCopy = JSON.parse(JSON.stringify(this.member))
  },
  data () {
    return {
      isBirthDateValid: false,
      memberCopy: {},
      isFormValid: false,
      isAddressInvalid: true,
      isBirthPlaceInvalid: true
    }
  },
  validations: {
    memberCopy: {
      name: {
        required
      },
      code: {
        required
      },
      identity: {
        required
      },
      phone: {
        required,
        numeric,
        maxLength: maxLength(10),
        minLength: minLength(10)
      }
    },
    validationGroup: ['memberCopy']
  },
   watch: {
    member (value) {
      this.memberCopy = JSON.parse(JSON.stringify(value))
    }
  },
  methods: {
    onChange () {
      this.validateForm()
      this.updatedForm()
    },
    onBirthPlaceChange ($event) {
      this.memberCopy.birth.place = $event
      this.validateForm()
      this.updatedForm()
    },
    showBirthPlaceAddressError ($event) {
      this.isBirthPlaceInvalid = $event.error
      this.validateForm()
      this.updatedForm()
    },
    onAddressPlaceChange ($event) {
      this.memberCopy.address.place = $event.place
      this.memberCopy.address.olc = $event.olc
      this.validateForm()
      this.updatedForm()
    },
    showAddressError ($event) {
      this.isAddressInvalid = $event.error
      this.validateForm()
      this.updatedForm()
    },
    validateForm ($event) {
      this.isFormValid = (!this.$v.validationGroup.memberCopy.$invalid && this.isBirthDateValid && !this.isBirthPlaceInvalid && !this.isAddressInvalid)
      this.$emit('isFormValid', {
        isFormValid: this.isFormValid,
        vuelidateValidation: this.$v.memberCopy
      })
    },
    onDateChanged ($event) {
      this.memberCopy.birth.date = $event.date
      this.isBirthDateValid = $event.isValid
      this.validateForm()
      this.updatedForm()
    },
    updatedForm () {
      if (this.isFormValid) {
        const form = { ...this.memberCopy }
        this.$emit('updatedForm', form)
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  border: 0;
}
hr {
  border-top: 1px solid rgb(41, 41, 41);
  width: 30%;
  margin: auto;
}
</style>
