<template>
  <div>
    <label class="label">{{ label }}</label>
    <input
      :class="{ 'input-invalid' : inputInvalid }"
      :value="value"
      :placeholder="placeholderText"
      type="text"
      class="input has-border-radius is-borderless has-background-color is-shadowless"
      @blur="blur"
      @input="input">
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    placeholderText: {
      type: String,
      default: ''
    },
    // eslint-disable-next-line vue/require-default-prop, vue/require-prop-types
    inputInvalid: {}
  },
  methods: {
    input ($event) {
      this.$emit('input', $event.target.value)
    },
    blur ($event) {
      this.$emit('blur')
    }
  }
}
</script>

<style lang="scss" scoped>
  .has-border-radius {
    border-radius: 5px;
  }

  .has-background-color {
    background-color: white;
    &:focus {
      border: 1px solid #ababab;
    }
  }

  .input-invalid {
    border-bottom: 3px solid #fe736f;
    &:focus {
      border: 0;
    }
  }

  ::placeholder {
    color: #b3b3b3;
    opacity: 1;
  }
</style>
