<template>
  <div>
    <label class="label">{{ label }}</label>
    <input
      ref="autocompleteAddress"
      :value="value"
      :placeholder="placeholder"
      :class="{ 'input-invalid' : inputInvalid }"
      class="input has-border-radius is-borderless has-background-color is-shadowless"
      type="text">
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    // eslint-disable-next-line vue/require-default-prop, vue/require-prop-types
    inputInvalid: {}
  },
  data () {
    return {
      address: null
    }
  },
  watch: {
    value (newVal, oldVal) {
      if (newVal) {
        this.$emit('addressError', {
          error: false
        })
      }
    }
  },
  created () {
    if (this.value) {
      this.$emit('addressError', {
        error: false
      })
    }
  },
  mounted () {
    // eslint-disable-next-line no-undef
    this.autocomplete = new google.maps.places.Autocomplete(
      (this.$refs.autocompleteAddress),
      { types: ['address'] }
    )
    this.autocomplete.addListener('place_changed', () => {
      let olc = ''
      let place = this.autocomplete.getPlace()
      if (place && place.formatted_address) {
        if (place.plus_code && place.plus_code.global_code) {
          olc = place.plus_code.global_code
        } else {
          olc = ''
        }
        this.$emit('input', {
          place: place.formatted_address,
          olc: olc
        })
        this.$emit('addressError', {
          error: false
        })
      } else {
        this.$emit('addressError', {
          error: true
        })
        console.log('GET_PLACE_ERROR')
      }
    })
  }
}
</script>

<style lang="scss" scoped>
  .has-border-radius {
    border-radius: 5px;
  }

  .has-background-color {
    background-color: white;
    &:focus {
      border: 1px solid #ababab;
    }
  }

  .input-invalid {
    border-bottom: 3px solid #fe736f;
    &:focus {
      border: 0;
    }
  }

  ::placeholder {
    color: #b3b3b3;
    opacity: 1;
  }
</style>
