<template>
  <div>
    <label class="label">{{ label }}</label>
    <input
      ref="autocompletePlace"
      :value="value"
      :placeholder="placeholder"
      :class="{ 'input-invalid' : inputInvalid }"
      class="input has-border-radius is-borderless has-background-color is-shadowless"
      type="text">
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    // eslint-disable-next-line vue/require-default-prop, vue/require-prop-types
    inputInvalid: {}
  },
  data () {
    return {
      googlePlace: null
    }
  },
  watch: {
    value (newVal, oldVal) {
      if (newVal) {
        this.$emit('addressError', {
          error: false
        })
      }
    }
  },
  created () {
    if (this.value) {
      this.$emit('addressError', {
        error: false
      })
    }
  },
  mounted () {
    // eslint-disable-next-line no-undef
    this.autocomplete = new google.maps.places.Autocomplete(
      (this.$refs.autocompletePlace),
      { types: ['(cities)'] }
    )
    this.autocomplete.addListener('place_changed', () => {
      let place = this.autocomplete.getPlace()
      if (place && place.formatted_address) {
        this.$emit('input', place.formatted_address)
        this.$emit('addressError', {
          error: false
        })
      } else {
        this.$emit('addressError', {
          error: true
        })
        console.log('GET_PLACE_ERROR')
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.has-border-radius {
  border-radius: 5px;
}

.has-background-color {
  background-color: white;
  &:focus {
    border: 1px solid #ababab;
  }
}

.input-invalid {
  border-bottom: 3px solid #fe736f;
  &:focus {
    border: 0;
  }
}

::placeholder {
  color: #b3b3b3;
  opacity: 1;
}
</style>
