<template>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered">
          <div class="content">
            <h2>{{ $t('PUBLIKO.VALIDATION.EMAIL.TITLE') }}</h2>
            <p>{{ $t('PUBLIKO.VALIDATION.EMAIL.DESCRIPTION') }}</p>
          </div>
          <app-validation-email-input
            @blur="$v.email.$touch()"
            v-model="email"
            :validateEmail="validate()"/>
          <p v-if="$v.email.$error">
            {{ $t('PUBLIKO.VALIDATION.INVALID_EMAIL_ERROR') }}
          </p>
        </div>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column">
        <!-- <g-recaptcha
          :data-validate="validate"
          :data-callback="callback"
          :data-sitekey="sitekey"
          :data-btn-disabled="$v.email.$invalid"
          data-btn-class="button is-medium">
            {{ $t('PUBLIKO.VALIDATION.SEND_REQUEST') }}
        </g-recaptcha> -->
        <button
          :disabled="$v.email.$invalid"
          @click="validateEmail"
          class="button">
          {{ $t('PUBLIKO.VALIDATION.SEND_EMAIL')}}
        </button>
      </div>
    </div>
  </section>
</template>

<script>
import AppValidationEmailInput from "@/components/validation/AppValidationEmailInput"
import ActionButton from "@/components/ActionButton"
import gRecaptcha from '@finpo/vue2-recaptcha-invisible'

import axios from 'axios'
import { required, email } from 'vuelidate/lib/validators'

export default {
  components: {
    AppValidationEmailInput,
    ActionButton,
    gRecaptcha
  },
  data () {
    return {
      errors: [],
      email:'',
      btnStatus: true,
      token: '',
      isTokenValid: false,
      sitekey: process.env.GRECAPTCHA_SITE_KEY,
      isValid: null
    }
  },
  validations: {
    email: {
      email,
      required
    }
  },
  computed: {
    organizationName () {
      const organization = this.$store.getters['organization']
      if (organization && organization.name) {
        return organization.name
      } else {
        return ''
      }
    },
    organizationId () {
      return this.$store.getters['organization'].id
    },
    appUrl () {
      return this.$store.getters['appUrl']
    }
  },
  methods: {
    validate () {
      return true
    },
    callback(token) {
      if (token) {
        this.verifyHuman(token)
      } else {
        console.log('Please check you are not robot');
      }
    },
    // async verifyHuman(token) {
    //   //const url = `${this.appUrl}/api/verifyHuman`
    //   const url = process.env.APP_URL + '/api/verify'
    //   console.log('CLIENT ValidateToken url', url)
    //   try {
    //     let { data } = await axios.post(url, { token: token })
    //     if (data.success) {
    //       this.isTokenValid = true
    //     }
    //   } catch (e) {
    //     console.log('API_TOKEN_VALIDATION_ERROR:', e)
    //   }
    // },
    async validateEmail(token) {
      const url = process.env.APP_URL + '/api/draftMembers'
      try {
        let { data } = await axios.post(url, 
            {
              organizations: [{
                id: this.organizationId,
                members: [
                  {
                    name: "",
                    code: "",
                    document: "",
                    email: this.email,
                    internal: "",
                    phone: "",
                    address: {
                      olc: "",
                      place: ""
                    },
                    birth: {
                      date: null,
                      place: ""
                    }
                  }
                ]
              }]
            }
          )
        const organizationName = this.$route.params.aliasOrganization
        if (data && data.errors) {
          this.errors.push(data.errors)
          this.$router.push(`/o/${organizationName}/validation/failure`)
        } else {
          this.$router.push(`/o/${organizationName}/validation/success`)
        }          
      } catch (e) {
        console.log('API_DRAFT_MEMBER_ERROR:' + e.toString())
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .has-bottom-border {
    border-bottom: 2px solid black !important;
    &:hover {
      border-bottom: 0;
    }
  }
</style>
