<template>
  <div
    class="overlay">
    <section
      class="hero is-fullheight is-white">
      <div
        class="hero-body">
        <div
          class="container has-text-centered">
            <div class="content">
              <h3>
                {{ $t('PUBLIKO.VALIDATION.SUCCESS_MESSAGE') }}
              </h3>
            </div>
        </div>
      </div>
    </section>
  </div>
</template>


