<template>
  <div class="field">
    <div class="control">
      <input
        :value="value"
        @input="input"
        @blur="blur"
        class="input is-shadowless is-borderless has-border-radius has-background-color"
        type="email"
        placeholder="inserisci il tuo indirizzo mail qui">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
        default: '',
        type: String
    }
  },
  methods: {
    input ($event) {
      this.$emit('input', $event.target.value)
    },
    blur ($event) {
      this.$emit('blur', $event)
    }
  }
}
</script>

<style lang="scss" scoped>
  .has-border-radius {
    border-radius: 5px;
  }

  .is-borderless {
    border: 0;
  }

  .has-background-color {
    background-color: #f4f4f4;
    &:focus {
      background-color: #f2f2f2;
    }
  }
</style>

