<template>
 <span>
    <nuxt-link
      class="button has-bottom-border"
      :to="link"
      @click="click">
      {{ action }}
    </nuxt-link>
 </span>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: ''
    },
    action: {
      type: String,
      default: ''
    }
  },
  methods: {
    click($event) {
      this.$emit('click', $event)
    }
  }
}
</script>

<style lang="scss" scoped>
  .has-bottom-border {
    border-bottom: 2px solid black;
    &:hover {
      border-bottom: 0;
    }
  }
</style>

