<template>
  <div class="card is-white-card">
    <div class="card-content has-text-centered">
      <div class="columns is-multiline is-centered">
        <div class="column is-8">
          <figure
            class="image is-64x64"
            style="margin:auto;">
            <img
              class="is-rounded"
              :src="organizationPicture">
          </figure>
        </div>
        <div class="column is-9">
          <div class="content">
            <h3>{{ $t('PUBLIKO.INDEX.MEMBER_REQUEST.TITLE') }}</h3>
            <p>{{ $t('PUBLIKO.INDEX.MEMBER_REQUEST.DESCRIPTION') }}</p>
          </div>
        </div>
        <div class="column is-8">
          <action-button class="has-bottom-border"
            :link="link"
            :action="action"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ActionButton from "@/components/ActionButton"
export default {
  components: {
    ActionButton
  },
  props: {
    link:  {
      type: String,
      default: ''
    },
    action: {
      type: String,
      default: ''
    },
    organizationName:  {
      type: String,
      default: ''
    },
    organizationPicture:  {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  .has-bottom-border {
    border-bottom: 2px solid black;
    &:hover {
      border-bottom: 0;
    }
  }
</style>


