<template>
  <footer class="footer">
    <div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <p> {{ organizationName }}</p>
          </div>
        </div>
        <div class="column has-text-right">
          <div class="content">
            <a href="https://www.revas.app" class="button is-round">
            {{ $t('PUBLIKO.FOOTER.MADE_BY') }}</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  computed: {
    organizationName() {
      const organization = this.$store.getters['organization']
      if (organization && organization.name) {
        return organization.name
      } else {
        return ''
      }
    }
  }
}
</script>
