<template>
    <nav class="navbar" role="navigation">
      <div
        style="margin-top: 10px;"
        class="navbar-brand">
        <div class="columns is-gapless is-marginless">
          <div>
            <nuxt-link
              class="navbar-item"
              :to="`/o/${organizationAlias}`">
              <img
                class="is-pulled-right"
                style="margin-right: 20px; margin-left: 10px;"
                :src="organizationPicture"
                width="auto">
            </nuxt-link>
          </div>
          <div class="column is-7">
            <nuxt-link :to="`/o/${organizationAlias}`">
              <div class="content navbar-item">
                <h3 class="is-size-4-mobile"> {{ organizationName }}</h3>
              </div>
            </nuxt-link>
          </div>
        </div>
        <div
          :class="{ 'is-active': isNavActive }"
          class="navbar-burger burger has-margins"
          @click="isNavActive = !isNavActive">
            <span style="height: 3px; width: 30px; border: 0;"/>
            <span style="display: none;"/>
            <span style="height: 3px;  width: 30px; border: 0;"/>
        </div>
      </div>
      <div
        :class="{ 'is-active': isNavActive }"
        class="navbar-menu">
        <div class="navbar-end">
            <nuxt-link
              :to="`/o/${organizationAlias}/blog/0`"
              :class="!isNavActive"
              exact-active-class="is-active"
              class="navbar-item"
              @click.native="refresh()">
              {{ $t('PUBLIKO.HEADER.BLOG') }}
            </nuxt-link>
            <nuxt-link
              :to="`/o/${organizationAlias}/about`"
              class="navbar-item"
              @click.native="refresh()">
              {{ $t('PUBLIKO.HEADER.ABOUT') }}
            </nuxt-link>
          </div>
      </div>
  </nav>
</template>

<script>
export default {
  props: {
    organizationAlias:  {
      type: String,
      default: ''
    },
    organizationName:  {
      type: String,
      default: ''
    },
    organizationPicture:  {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isNavActive: false
    }
  },
  watch: {
    '$route.fullPath': (value) => {
      if (this.refresh) {
        this.refresh(value.substr(1))
      }
    }
  },
  mounted() {
    this.refresh()
  },
  methods: {
    refresh(name) {
      this.isNavActive = false;
      if (!name) {
        name = this.$route.hash.substr(1)
      }
      const e = document.getElementById(name)
      if (e) {
        e.scrollIntoView()
      }
    }
  }
}
</script>
