<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="content">
          <p>
            <nuxt-link :to="`/o/${organizationAlias}/blog/0`">
              {{ $t('PUBLIKO.BACK') }}
            </nuxt-link>
          </p>
        </div>
        <div class="columns is-centered">
          <div class="column is-9">
            <div class="content">
              <h1 class="title is-size-3">{{ post.title }}</h1>
              <hr>
              <p v-html="post.content"/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

export default {
  computed: {
    organizationAlias() {
      const organization = this.$store.getters['organization']
      if (organization && organization.alias) {
        return organization.alias
      } else {
        return ''
      }
    }
  },
  async asyncData({ params, store }) {
    const orgId = _.get(store.getters.organization, ['id'])
    let temp = {
      post: {},
      errors: []
    }
    const url = `${store.getters.appUrl}/api/o/${orgId}/blog/0/p/${params.slug}`
    try {
      let { data } = await axios.get(url)
      temp.post = data.post
    } catch (e) {
      temp.errors.push('API_GET_POST_ERROR ' + e.toString())
    }
    return temp
  }
}
</script>
