<template>
  <section class="section">
    <div class="container">
      <app-about-info-section :organizationName="organizationName"/>
    </div>
  </section>
</template>

<script>
import AppAboutInfoSection from '@/components/about/AppAboutInfoSection'

export default {
  components: {
    AppAboutInfoSection
  },
  computed: {
    organizationName() {
      const organization = this.$store.getters['organization']
      if (organization && organization.name) {
        return organization.name
      } else {
        return ''
      }
    }
  }
}
</script>
