<template>
  <section class="section">
    <div class="container">
      <app-post-collection
        :organizationAlias="organizationAlias"
        :posts="dividePosts(posts)"/>
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <action-button
            :action="$t('PUBLIKO.INDEX.READ_MORE')"
            :link="`/o/${organizationAlias}/blog/0`"/>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <app-request-card
              :action="$t('PUBLIKO.INDEX.MEMBER_REQUEST.ACTION')"
              :organizationPicture="organizationPicture"
              :link="`/o/${organizationAlias}/validation`"/>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import AppPostCollection from "@/components/post/AppPostCollection"
import ActionButton from "@/components/ActionButton"
import AppRequestCard from "@/components/AppRequestCard"
import _ from 'lodash'

import axios from 'axios'

export default {
  components: {
    AppPostCollection,
    ActionButton,
    AppRequestCard
  },
  computed: {
    // mix the getters into computed with object spread operator
    organizationAlias () {
      const organization = this.$store.getters['organization']
      if(organization && organization.alias){
        return organization.alias
      } else {
        return ''
      }
    },
    organizationPicture () {
      const organization = this.$store.getters['organization']
      if (organization && organization.picture) {
        return organization.picture
      } else {
        return ''
      }
    }
  },
  methods: {
    dividePosts (posts) {
      if(posts && posts.length > 0){
        return posts.slice(0, 5)
      }
    }
  },
  async asyncData({ params, store }) {
    const orgId = _.get(store.getters.organization, ['id'])
    let temp = {
      posts: [],
      errors: []
    }
    const url = `${store.getters.appUrl}/api/o/${orgId}/blog/0/`
    try {
      let { data } = await axios.get(url)
      temp.posts = data.posts
    } catch (e) {
      temp.errors.push('API_QUERY_POSTS_ERROR ' + e.toString())
    }
    return temp
  }
}
</script>
