<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="content">
          <div class="columns">
            <div class="column">
              <h1>Statuto</h1>
              <p v-html="post.content"/>
            </div>
          </div>
          <div class="level">
            <div class="level-item has-text-centered">
                <label class="checkbox">
                <input type="checkbox" v-model="isStatuteChecked">
                  Ho letto lo Statuto
              </label>
            </div>
          </div>
          <div class="level">
            <div class="level-item has-text-centered">
              <nuxt-link :to="`/o/${organizationAlias}/registration`">
                <button class="button">  
                  Torna al form
                </button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import ActionButton from "@/components/ActionButton"  

export default {
  layout: 'simple',
  components: {
    ActionButton
  },
  methods: {
    checkStatute () {
      this.isStatuteChecked = !this.isStatuteChecked
    }
  },
  data () {
    return {
      isStatuteChecked: false
    }
  },
  computed: {
    organizationAlias() {
      const organization = this.$store.getters['organization']
      if (organization && organization.alias) {
        return organization.alias
      } else {
        return ''
      }
    }
  },
  async asyncData({ params, store }) {
    const orgId = _.get(store.getters.organization, ['id'])
    let temp = {
      post: {},
      errors: []
    }
    const url = `${store.getters.appUrl}/api/o/${orgId}/blog/0/p/statuto`
    try {
      let { data } = await axios.get(url)
      temp.post = data.post
    } catch (e) {
      temp.errors.push('API_GET_POST_ERROR ' + e.toString())
    }
    return temp
  }
}
</script>



