<template>
  <section class="section">
    <div class="container">
      <div class="content has-text-centered">
        <h1>{{ $t('PUBLIKO.BLOG.ARTICLES.FEATURED') }}</h1>
        <app-blog-featured-posts-collection
          :organizationAlias="organizationAlias"
          :posts="posts.slice(0, 3)"/>
        <h1>{{ $t('PUBLIKO.BLOG.ARTICLES.OTHERS') }}</h1>
        <app-blog-posts-collection
          :organizationAlias="organizationAlias"
          :posts="posts.slice(3)"/>
      </div>
    </div>
  </section>
</template>

<script>
import AppBlogFeaturedPostsCollection from "@/components/blog/AppBlogFeaturedPostsCollection"
import AppBlogPostsCollection from "@/components/blog/AppBlogPostsCollection"
import axios from 'axios'
import _ from 'lodash'

export default {
  components: {
    AppBlogFeaturedPostsCollection,
    AppBlogPostsCollection
  },
  computed:{
    organizationAlias () {
      const organization = this.$store.getters['organization']
      if (organization && organization.alias) {
        return organization.alias
      } else {
        return ''
      }
    }
  },
  async asyncData({ params, store }) {
    const orgId = _.get(store.getters.organization, ['id'])
    let temp = {
      posts: [],
      errors: []
    }
    
    const url = `${store.getters.appUrl}/api/o/${orgId}/blog/0/`
    try {
      let { data } = await axios.get(url)
      temp.posts = data.posts
    } catch (e) {
      temp.errors.push('API_QUERY_POSTS_ERROR ' + e.toString())
    }
    return temp
  }
};
</script>

