<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link
        class="navbar-item"
        to="/blog">
        <img
          src="https://bulma.io/images/bulma-logo.png">
      </nuxt-link>
      <h1 class="title"> {{ $t('PUBLIKO.BLOG.BLOG_OF') }} {{ organization.name }}</h1>
    </div>
  </nav>
</template>

<script>
export default {
  data () {
    return {
      organization: {
        name: 'Organizzazione di Prova'
    }
    }
  }
}
</script>
