<template>
  <div class="card">
    <div class="card-content has-text-left">
      <div class="content">
        <h1>{{ post.title}}</h1>
        <p>{{ toLocale(post.publishedOn) }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  methods: {
    toLocale(date) {
      return new Date(date).toLocaleDateString()
    }
  }
}
</script>
