<template>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div class="level">
          <div class="level-left">
            <div class="content has-text-left">
              <h1>{{ post.title }}</h1>
              <p>{{ toLocale(post.publishedOn) }}</p>
            </div>
          </div>
          <div class="level-right">
            <action-button
              :link="`/o/${organizationAlias}/blog/0/p/${post.slug}`"
              :action="$t('PUBLIKO.BLOG.ACTION_READ')"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ActionButton from "@/components/ActionButton";

export default {
  components: {
    ActionButton
  },
  props: {
    post: {
      type: Object,
      default() {
        return {};
      }
    },
    organizationAlias: {
      type: String,
      default: ''
    }
  },
  methods: {
    toLocale(date) {
      return new Date(date).toLocaleDateString()
    }
  }
};
</script>

