<template>
  <section class="section">
    <div class="container">
      <div class="columns is-centered is-multiline">
        <div
          v-for="post in posts"
          :key="post.slug"
          class="column is-8">
          <app-blog-post-card
            :organizationAlias="organizationAlias"
            :post="post"/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppBlogPostCard from "@/components/blog/AppBlogPostCard";

import axios from 'axios'

export default {
  components: {
    AppBlogPostCard
  },
  props: {
    posts: {
      type: Array,
      default() {
        return [];
      }
    },
    organizationAlias: {
      type: String,
      default: ''
    }
  }
};
</script>
