<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div
          v-for="post in posts"
          :key="post.id"
          class="column is-one-third">
          <nuxt-link
            :to="`/o/${organizationAlias}/blog/0/p/${post.slug}`">
            <app-blog-featured-post-card
              :post="post" />
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppBlogFeaturedPostCard from "@/components/blog/AppBlogFeaturedPostCard";

export default {
  components: {
    AppBlogFeaturedPostCard
  },
  props: {
    posts: {
      type: Array,
      default() {
        return [];
      }
    },
    organizationAlias: {
      type: String,
      default: ''
    }
  }
};
</script>


