//style
$button-background-color: white;
$radius: 0;
$button-border-width: 0;

.button {
  border-bottom: 2px solid black;
  &:hover {
    background-color: #e2e2e2;
    color: white;
    border-bottom: 0;
  }
  &:active {
    background-color: #a5a5a5;
    color: black;
    border: 0;
  }
  &.is-round {
    background-color: white;
    border-radius: 20px;
    color: black;
    border: 0;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.048);
    &:hover {
      box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.048);
      color: black;
      transform: translateY(-2px);
      transition: all 50ms ease-in-out;
    }
    &:active {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.048);
      color: black;
      transform: translateY(0);
      transition: all 50ms ease-in-out;
      border: 0;
    }
  }
}
