$card-header-shadow: 0 0 0;
$card-header-background-color: $primary;
$card-background-color: $secondary;
$card-header-color: $light;
$card-shadow: 0 0 0;

.card {
  border-radius: 10px;
  overflow: hidden;
  &.is-white-card {
    background-color: white;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  }
}
