//style
$navbar-height: 2rem;
$navbar-item-img-max-height: 3.5rem;

//shadow
$navbar-box-shadow-color: $black;
$navbar-box-shadow-size: 0 5px 0 0;

//hamburger icon styles
.has-margins {
  margin-top: 10px;
  margin-right: 20px;
}
