<template>
  <div class="is-fullheight-container">
    <the-header
      :organizationPicture="organizationPicture"
      :organizationAlias="organizationAlias"
      :organizationName="organizationName"/>
      <div class="is-expanded">
        <nuxt/>
      </div>
    <the-footer/>
  </div>
</template>

<script>
  import TheHeader from '@/components/TheHeader'
  import TheFooter from '@/components/TheFooter'

  export default {
    components: {
      TheHeader,
      TheFooter
    },
    computed: {
      organizationName () {
        const organization = this.$store.getters['organization']
        if (organization && organization.name) {
          return organization.name
        } else {
          return ''
        }
      },
      organizationAlias () {
        const organization = this.$store.getters['organization']
        if (organization && organization.alias) {
          return organization.alias
        } else {
          return ''
        }
      },
      organizationPicture () {
        const organization = this.$store.getters['organization']
        if (organization && organization.picture) {
          return organization.picture
        } else {
          return ''
        }
      }
    }
  }
</script>

<style lang="scss">
  @import '../assets/style/main.scss';
  @import "~bulma/sass/utilities/initial-variables";
  @import "~bulma/sass/utilities/functions";
  @import '~bulma';
  .is-expanded {
    flex: 1;
  }
  .is-fullheight-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
</style>

