<template>
    <nuxt-link
      :to="`/o/${organizationAlias}/blog/0/p/${post.slug}`"
      class="tile is-child card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <div class="content">
            <h2 class="has-text-light" style="margin-bottom: 0;">{{ $t('PUBLIKO.INDEX.POST.LAST') }}</h2>
          </div>
        </div>
      </div>
      <div class="card-content">
       <div class="content">
         <h3>{{ post.title }}</h3>
         <p>{{ post.description }}</p>
       </div>
      </div>
    </nuxt-link>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default() {
        return {};
      }
    },
    organizationAlias: {
      type: String,
      default: ''
    }
  }
}
</script>



