<template>
  <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <app-big-post-tile
                v-if="posts[0]"
                :post="posts[0]"
                :organizationAlias="organizationAlias"/>
            </div>
            <div class="tile is-parent is-vertical">
              <app-small-post-tile
                v-if="posts[1]"
                :post="posts[1]"
                :organizationAlias="organizationAlias"/>
              <app-small-post-tile
                v-if="posts[2]"
                :post="posts[2]"
                :organizationAlias="organizationAlias"/>
            </div>
          </div>
        </div>
       <div class="tile is-parent is-vertical">
          <app-small-post-tile
            v-if="posts[3]"
            :post="posts[3]"
            :organizationAlias="organizationAlias"/>
          <app-small-post-tile
            v-if="posts[4]"
            :post="posts[4]"
            :organizationAlias="organizationAlias"/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppBigPostTile from "@/components/post/AppBigPostTile";
import AppSmallPostTile from "@/components/post/AppSmallPostTile";

export default {
  components: {
    AppBigPostTile,
    AppSmallPostTile
  },
  props: {
    posts: {
      type: Array,
      default() {
        return [];
      }
    },
    organizationAlias: {
      type: String,
      default: ''
    }
  }
};
</script>
