<template>
    <nuxt-link
      :to="`/o/${organizationAlias}/blog/0/p/${post.slug}`"
      class="tile is-child card">
      <div class="card-content">
        <div class="content">
          <h4>{{ post.title}}</h4>
          <p>{{ post.description}}</p>
        </div>
      </div>
    </nuxt-link>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default() {
        return {}
      }
    },
    organizationAlias: {
      type: String,
      default: ''
    }
  }
}
</script>
