<template>
  <section class="section">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half">
          <div class="content">
            <h2>{{ $t('PUBLIKO.REGISTRATION.TITLE') }}</h2>
            <p>{{ $t('PUBLIKO.REGISTRATION.DESCRIPTION') }}</p>
          </div>
        </div>
      </div>
      <div class="columns is-multiline is-centered">
        <div 
          class="column is-full"
          v-if="hasStatute">
          <div class="card">
            <div class="card-content">
              <span>{{ $t('PUBLIKO.REGISTRATION.READ_STATUTE_BEFORE_PROCEDING') }}</span>
              <button @click="goToStatute" class="button is-pulled-right">{{ $t('PUBLIKO.REGISTRATION.READ') }}</button>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <app-registration-form-card
            :member="updatedMember"
            :vuelidateValidation="vuelidateValidation"
            @isFormValid="validateForm($event)"
            @updatedForm="updateForm"/>
        </div>
        <div 
          class="column is-full"
          v-if="hasStatute">
          <label class="checkbox">
            <input type="checkbox" v-model="privacyTermsAccepted.value">
              Accetto le norme della privacy descritte all'interno dello statuto
          </label>
          <br>
          <p 
            v-if="privacyTermsAccepted.isErrorShow"
            class="input-invalid">
            {{ $t('PUBLIKO.REGISTRATION.ACCEPT_PRIVACY_TERMS_TO_PROCEED_MESSAGE') }}
          </p>
        </div>
        <div class="column is-full has-text-centered">
          <button
            @click="submit"
            type="submit"
            class="button">
          {{ $t('PUBLIKO.REGISTRATION.FORM.SEND') }}
          </button>
          <div class="content is-medium" v-if="isFormInvalid ? isFormInvalid : '' " style="margin-top: 30px;">
            <p style="background-color: #fe736f; border-radius: 10px; padding: 10px; color: white; box-shadow: 0 10px 50px rgba(254,115,111, 0.40);">{{ $t('PUBLIKO.REGISTRATION.FORM.ERROR.EMPTY_FIELDS') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import axios from 'axios'
import _ from 'lodash'
import AppRegistrationFormCard from '@/components/registration/AppRegistrationFormCard'
import ActionButton from '@/components/ActionButton'


export default {
  components: {
    AppRegistrationFormCard,
    ActionButton
  },
  created () {
    this.token = this.$route.query.v
    this.checkToken(this.token)
  },
  data () {
    return {
      token: null,
      updatedMember: {
        token: '',
        name: '',
        code: '',
        document: '',
        email: '',
        internal: '',
        phone: '',
        address: {
          olc: '',
          place: ''
        },
        birth: {
          date: null,
          place: ''
        }
      },
      tempIsFormInvalid: false,
      isFormInvalid: null,
      tempVuelidateValidation: {},
      vuelidateValidation: null,
      isMemberRequestSent: {
        members: null,
        errors: null
      },
      errors: [],
      privacyTermsAccepted: {
        value: false,
        isErrorShow: null
      }
    }
  },
  methods: {
    async checkToken () {
      const url = process.env.APP_URL + '/api/validateTokens'
      try {
        const { data } = await axios.post(url,
          {
            organizations: [{
              id: this.organizationId,
              members: [
                {
                  token: this.token,
                  name: "",
                  code: "",
                  document: "",
                  email: "",
                  internal: "",
                  phone: "",
                  address: {
                    olc: "",
                    place: ""
                  },
                  birth: {
                    date: null,
                    place: ""
                  }
                }
              ]
            }]
          }
        )
        const organizationName = this.$route.params.aliasOrganization
        if (data && data.errors && data.errors.length > 0) {
          this.errors = data.errors
          this.$router.push(`/o/${organizationName}/validation/failure`)
        } else {
          this.updatedMember.token = this.token
        }
      } catch (e) {
        this.errors.push(e)
        console.error(e)
      }
    },
    goToStatute () {
      const organizationName = this.$route.params.aliasOrganization
      this.$router.push(`/o/${organizationName}/statute`)
    },
    validateForm ($event) {
      this.tempIsFormInvalid = $event.isFormValid
      this.tempVuelidateValidation = $event.vuelidateValidation
      if (this.isFormInvalid !== null) {
        this.isFormInvalid = !this.tempIsFormInvalid
      }
    },
    async submit () {
      this.vuelidateValidation = this.tempVuelidateValidation
      this.isFormInvalid = !this.tempIsFormInvalid
      this.privacyTermsAccepted.isErrorShow = !this.privacyTermsAccepted.value
      if (!this.isFormInvalid && this.updatedMember && this.privacyTermsAccepted.value) {
        this.updatedMember.token = this.token
        try {
          const temp = {}
          const url = `${process.env.APP_URL}/api/draftMembers`
          const {data} = await axios.post(url, {
              organizations: [{
                id: this.organizationId,
                members: [
                  this.updatedMember
                ]
              }]
            }
          )
          this.isMemberRequestSent.members = data.member
          const organizationName = this.$route.params.aliasOrganization
          if (data && data.errors && data.errors.length > 0) {
            this.isMemberRequestSent.errors = data.errors
            this.$router.push(`/o/${organizationName}/registration/failure`)
          } else {
            this.$router.push(`/o/${organizationName}/registration/success`)
          }          
        } catch (e) {
          console.error(e)
          this.errors.push({
            e: e
          })
        }
      } else {
        this.errors.push({
          e: 'DRAFT_MEMBERS_VALIDATION_ERROR'
        })
      }
    },
    updateForm ($event) {
      this.updatedMember = $event
    }
  },
  computed: {
    hasStatute () {
      return !!this.post
    },
    organizationId () {
      return this.$store.getters['organization'].id
    }
  },
  async asyncData({ env, params, store }) {
    const orgId = _.get(store.getters.organization, ['id'])
    let temp = {
      post: {},
      errors: []
    }
    const url = `${env.APP_URL}/api/o/${orgId}/blog/0/p/statuto`
    try {
      let { data } = await axios.get(url)
      temp.post = data.post
    } catch (e) {
      temp.errors.push('API_GET_POST_ERROR')
    }
    return temp
  }
}
</script>


<style lang="scss" scoped>
  .input-invalid {
    border-bottom: 3px solid #fe736f;
    &:focus {
      border: 0;
    }
  }
</style>
