<template>
  <div class="columns">
    <div class="column is-half">
      <div class="content has-text-left">
        <h1 class="title"> {{ $t('PUBLIKO.ABOUT.INFO.TITLE') }} {{ organizationName }} </h1>
        <hr>
        <div class="content">
          <p>{{ $t('PUBLIKO.ABOUT.INFO.DESCRIPTION') }} {{ organizationName }}</p>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <app-about-info-card
        :organizationName="organizationName"/>
    </div>
  </div>
</template>

<script>
import AppAboutInfoCard from '@/components/about/AppAboutInfoCard'

export default {
  components: {
    AppAboutInfoCard
  },
  props: {
    organizationName: {
      type: String,
      default: ''
    }
  }
}
</script>

