<template>
  <div class="card">
    <div class="card-content">
      <div class="content has-text-centered">
        <p>{{ $t('PUBLIKO.ABOUT.ORGANIZATION_NAME') }} <strong>{{ organizationName }}</strong></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    organizationName: {
      type: String,
      default: ''
    }
  }
}
</script>
