//colors
$publiko-primary: #6D6D6D;
$publiko-secondary: lighten($publiko-primary, 55%);

//variables
$primary: $publiko-primary;
$secondary: $publiko-secondary;
$black: #000000;
$light: #ffffff;
$link: $primary;

.is-secondary {
  background-color: $publiko-secondary;
}
